<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Thinkful Madlibs</title>
    <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">

</head>
<body ng-controller="MyController as vm">

    <div class="container">
    
    	<header>
			<img class="smiley" src="smiley.png">
			<img class="logo" src="madlibs-logo.png">
			<h1>Automate This!</h1>
    		<div class="clearfix"></div>
    	</header>

	    <div class="inputs" ng-show="!vm.showParagraph">
	    	<form name="madlibsInputs" ng-submit="vm.submitForm()">	    		
		    	<h2>Provide the following words:</h2>
				<span class="gender">Female</span><label class="switch">
					<input type="checkbox">
				  	<div class="slider"></div>
				</label><span class="gender">Male</span>
				<input type="checkbox" name="" ng-checked="vm.changeGender()">Hello
				<br>
			    <input type="text" placeholder="name" ng-model="vm.name" required>
			    <!-- <p ng-if="submitted && name.$error.required">Name is required</p> -->
			    <input type="text" placeholder="job title" ng-model="vm.jobTitle">
			    <input type="text" placeholder="tedious task" ng-model="vm.tediousTask">
			    <input type="text" placeholder="dirty task" ng-model="vm.dirtyTask">
			    <input type="text" placeholder="celebrity" ng-model="vm.celebrity">
			    <input type="text" placeholder="another celebrity" ng-model="vm.celebrityTwo">
			    <input type="text" placeholder="a skill" ng-model="vm.skill">   
			    <input type="text" placeholder="a number" ng-model="vm.number">   
			    <br>
			    <input type="submit" class="showPara"  value="Generate My Madlib"/>
	    	 	<div class="clearfix"></div>
	    	</form>
	    </div>
       

        <div class="outputs" ng-show="vm.showParagraph">    	
		    <p>
			    <span>{{name}}</span> was a <span>{{jobTitle}}</span> who loved technology. 
			    Although she loved parts of her job, she absolutely hated  
			    <span>{{tediousTask}}</span> and <span>{{dirtyTask}}</span>. So, <span>{{name}}</span> met
			    with her life mentor <span>{{celebrity}}</span> who told her to learn how to
			    <span>{{skill}}</span> with Thinkful. Thinkful didn't offer a course on
			    {{skill}} so she studied programming instead. 
			    What a great decision! With her new skills, <span>{{femaleName}}</span> built
			    a(n) <span>{{adjective}}</span> robot named <span>{{celebrityTwo}}</span> that not 
			    only loved <span>{{dirtyTask}}</span> but did it <span>{{number}}</span> times faster.
		    </p>

		    <button ng-click="vm.showParagraph = !vm.showParagraph">Start Over</button>
        </div>
    </div>
        <p class="center">Show and Hide</p>
</body>
</html>
