* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans';

}

.container {
	max-width: 1000px;
	margin: 0px auto;
	border: 3px solid #222;	
}

.smiley {
	float: left;
	padding: 10px;
	border-right: 3px solid #222;

}

header{
	border-bottom: 3px solid #222;
}

header img{
	margin: 0 auto;
	padding: 0;
	display: block;
}

header h1 {
	text-align: center;
}

.clearfix {
	clear: both;
}

.inputs {
	padding: 20px;
}

.inputs input {
	padding: 5px;
	margin: 10px;
}

.outputs {
	padding: 5px;
	margin: 10px;
}


span {
	text-decoration: underline;
	color: red;
}

.center {
	text-align: center;
}

.switch {
    position: relative;
    display: inline-block;	
	width: 60px;
	height: 34px;
	border-radius: 18px;
	background-color: red;
}

.switch input {
	display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.gender {
	display: inline-block;
	position: relative;
	top: 0;
	color: black;
	text-decoration: none;
	padding: 10px;
	margin-bottom: 10px;
}

button, .showPara{
	padding: 6px 12px;
	border-radius: 5px;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	cursor: pointer;
}

button:hover {
	background-color: #e6e6e6;
}

.showPara {
	margin: 20px;
	display: inline-block;
	float: right;
}

.content {
  padding: 10px;
  overflow: hidden;
  transition: all linear 0.5s;
}

.content.ng-enter,
.content.ng-leave.ng-leave-active {
  max-height:0;
}

.content.ng-leave,
.content.ng-enter.ng-enter-active {
  max-height:1em;
}